[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-sailmines
Exec=harbour-sailmines
Name=SailMines

[X-Sailjail]
OrganizationName=io.github.sharks-dev
ApplicationName=harbour-sailmines
# Add the required permissions here
Permissions=
