[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SailMines
Exec=SailMines
Name=SailMines

[X-Sailjail]
# Replace with your organization as a reverse domain name
OrganizationName=io.github.doofitator
# ApplicationName does not have to be identical to Name
ApplicationName=SailMines
# Add the required permissions here
Permissions=
