[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=SailMines
Exec=SailMines
Name=SailMines

[X-Sailjail]
OrganizationName=io.github.sharks-dev
ApplicationName=SailMines
# Add the required permissions here
Permissions=
